#setting-error-tgmpa.notice.notice-warning {
    background: white;
}

.block-editor-page .block-editor-block-inspector > .block-editor-block-inspector-edit-contents {
    height: auto !important;
}

.mesmerize-notice.notice {
    background: white;
}
.mesmerize-page {
    .ocdi-imported-content-imported--success {
        display: none;
    }
}
