@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url('CCD_FONTS_BASE/opensans.woff2') format('woff2');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url('CCD_FONTS_BASE/mulish.woff2') format('woff2');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url('CCD_FONTS_BASE/mulish.woff2') format('woff2');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600 800;
  font-display: swap;
  src: url('CCD_FONTS_BASE/nunito.woff2') format('woff2');
}
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('CCD_FONTS_BASE/pacifico.woff2') format('woff2');
}
