# Com o Railway conectado ao GitHub (Auto-deploys),
# NAO e necessario nenhum secret de token no GitHub.
#
# Configure as variaveis no painel Railway do servico wordpress:
#   WORDPRESS_DB_HOST=${{MySQL.MYSQLHOST}}:${{MySQL.MYSQLPORT}}
#   WORDPRESS_DB_USER=${{MySQL.MYSQLUSER}}
#   WORDPRESS_DB_PASSWORD=${{MySQL.MYSQLPASSWORD}}
#   WORDPRESS_DB_NAME=${{MySQL.MYSQLDATABASE}}
#   PORT=80
